[Desktop Entry]
Name=crypto watcher
Comment=app for monitoring cryptocurrency prices
Exec=crypto-watcher
Icon=${SNAP}/meta/gui/crypto-watcher.png
Terminal=false
Type=Application
Categories=Utility;